body{
    font-family: "Montserrat", sans-serif;
    margin: 0;

}
section{
    overflow: hidden;
   
}
a{
    text-decoration: none;
}

i{
    padding-left: 4px;
}
header{
    display: flex;
    background-color: #1E2150;
    color: #E9E9EE;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 0 72px 0 72px;
    border-bottom: 3pt solid #D34F00;
    z-index: 100;
}
.logo{
    height: 64px;
}

.menu {
    display: flex;
}

.menu-item{
    display: flex;
    padding: 8px 16px 8px 16px;
    align-items: center;
    color: white;
}

.menu-item:hover, .link-item:hover{
    color: #D34F00;
    font-weight: bold;
}

.menu-link{
    padding: 8px;
    text-decoration: none;
}
.link{
    display: flex;
}

.link-item{
    display: flex;
    padding: 8px 14px 8px 14px;
    align-items: center;
    color: white;
}


.action-btn i{
    font-size: 18px;
}

.action-btn ,.Nav_dropdown{
    display: none;
}

.Nav_dropdown .active-nav{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 336px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:rgba(30, 33, 80, 1);
    align-items: end;
    padding: 24px 24px;
}


.Nav_dropdown .menu{
    display: flex;
    flex-direction: column;
    padding: 8px 16px 8px 16px;
    color: white;
    width: 100%;
}

.Nav_dropdown .action-btn{
    display: block;
    float: right;
}



.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    
}
.collection-image, .hero-image {
    width: 100%;
    height: 100%;
    object-fit:cover;
    background-repeat: no-repeat;
    transition: scale .5s;
}

.collection-image:hover{
    scale: 1.1;
}


.hero-wrapper{
    position: absolute;
    max-width: 35%; 
    left:72px;

}

.hero-caption{
    color: #E9E9EE;
    font-size: 12px;
    padding-bottom: 8px;
}

.hero-heading{
    color:white;
    font-size: 48px;
    font-weight: bold;
    line-height: 120%;
    padding-bottom: 8px;
    
}

.hero-subheading{
    color: #E9E9EE;
    font-size: 16px;
    line-height: 150%

    
}

.primary-btn{
    background-color: #1E2150;
    color: white;
    padding: 12px 24px 12px 24px;
    border-style: none;
    cursor: pointer;
    transition: scale 0.15s, background-color 0.15s;
}

.primary-btn:hover{
    scale: 1.1;
    background-color: #D34F00;;
    
}
.hero-contant{
    margin-bottom: 32px;
}

.collection{
    display: flex;
    margin: 0;
    padding-top: 8px;
    width: 100%;
    height: 300px;
    justify-content: space-between;
    column-gap: 8px;
    overflow: auto;
}

.collection::-webkit-scrollbar{
    display: none;
}
.collection-card1, .collection-card2, .collection-card3, .collection-card4{
    flex: 1;
    height: 100%;
    min-width: 260px;
    position: relative;
    overflow: hidden;
}

.collection-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    padding: 0  24px 16px 24px;
    
}



.collection-name{
    color: #E9E9EE;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    
}
.secondary-btn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 12px 24px 12px 24px;
    cursor: pointer;
    transition: scale 0.15s, background-color 0.15s;
}

.secondary-btn:hover{
    background-color: rgba(0, 0, 0, .5);
    scale: 1.1;
}

.products, .New-arrivals, .blogs-section{
    display: flex;
    margin: 0;
    margin-top: 8px;
    padding: 30px 0px 30px 72px;
    width: auto;
    column-gap: 8px;
    flex-direction: column;
    background-color: #D7E2ED;
    
    
}
.New-arrivals{
    background-color: white;
}

.blogs-section, .testimonals-section, .faq, .footer{
    background-color: white;
    padding: 30px 72px 30px 72px;
}

.section-heading{
    color: #1E2150;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 24px;
}

.products-wrapper{
    position: relative;
    margin-bottom: 24px;
    display: flex;
    column-gap: 24px;
    overflow: auto;
}
.products-wrapper::-webkit-scrollbar{
    display: none;
}
.products-card{
    width: 300px;
    display: flex;
    flex-direction: column;

}
.products-card-new-arrivals{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.product-image-wrapper{
    overflow: hidden;
    display: flex;
    position: relative;
    cursor: pointer;
}

.product-image{
    object-fit: cover;
    overflow: hidden;
    transition: scale .5s;
}
.product-image:hover{
    scale: 1.1;
}

.product-offer{
    position:absolute;
    left: 0;
    top: 16px;
    background-color: rgba(215, 226, 237, .7);
    padding: 4px 8px 4px 8px;
}
/*
.product-image-wrapper .add-to-cart-container{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:  0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    
}*/


.products-card p, .products-card-new-arrivals p{
    margin: 0px;
    text-decoration: none;

    
}

.product-name{
    color: #1E2150;
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 8px !important;
    
}
.No-of-product{
    color: rgba(30, 33, 80, .8);
    font-size: 12px;
    margin-bottom: 8px;
}
.section-btn-container{
    display: flex;
    justify-content: space-around;
}

.product-id{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-top: 8px;
}

.products-card-new-arrivals .product-name{
    font-weight: bold;
    margin-bottom: 8px;
    
}

.product-rating{
    margin-bottom: 8px;
    color: #1E2150;
}


.product-price{
    color: #D34F00;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 8px;
}

.product-color-container{
    display:flex;
    justify-content: left;
    column-gap: 12px;
    align-items: center;
    margin-bottom: 8px;

}

.prod_color{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.prod_color:nth-of-type(1){
    background-color: burlywood;
}
.prod_color:nth-of-type(2){
    background-color: cadetblue;
}

.active-color{
    outline: 2px solid #1E2150;
    outline-offset: 3px;

}
label{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}
label:nth-of-type(1) {
    background-color: burlywood;
}
label:nth-of-type(2){
    background-color: cadetblue;
}


[type=radio]:checked + label{
    border-spacing: 2px;
    outline: 1.5pt solid #1E2150;
    outline-offset: 2pt;

}

.custom-checkbox{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.checkmark {
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1.5px solid black;
    border-radius: 50%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.color1{
    border-style: none;
    background-color: burlywood;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.color2{
    position: relative;
    background-color: rgb(95, 221, 179);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 10;
}

.selected_color{
    border-spacing: 2px;
    outline: 2pt solid #1E2150;
    outline-offset: 2pt;
}



/*new-Collection*/

.New-collection{
    display: flex;
    margin: 0;
    margin-top: 8px;
    padding: 30px 0px 30px 72px;
    width: auto;
    column-gap: 8px;
    flex-direction: column;
    background-color: #D7E2ED;
    
}
.New-collection-container{
    position: relative;
    display: flex;
    column-gap: 24px;
}
.collection-ad{
    flex: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

}

.collection-products-wrapper{
    flex: 50%;
    
    overflow: hidden;
}

.collection-ad-contant{
    position: absolute;
    z-index: 2;
    padding: 40px;
    bottom: 0;
    
 
}
.collection-ad-image{
    z-index: 1;
    
}

.collection-ad-heading{
    color:white;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 8px;
}

.collection-ad-paragraph{
    color:#D7E2ED;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 24px;
    text-wrap: wrap;
}

/*start of blogs*/

.blogs-container{
    display: flex;
    column-gap: 24px;

}

.blogs{
    flex: 1;
}

.blogs-img{
    width: 100%;
    margin-bottom: 8px;
}
.bloger-name, .user-name{
    margin: 0px;
    font-weight: 600;
    color: #1E2150;
    font-size: 20px;
    margin-bottom: 4px;
}

.bloger-story{
    margin: 0px;
    color: gray;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 12px;
    
}

.tertiary-btn{
    color: #D34F00;
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/*testminols start*/

.testimonals-container{
  display: flex;
  column-gap: 24px;
}

.testimonals--wrapper-left{
    flex: 50%;
    width: 100%;

}

.testimonals-image{
    background-color: #D7E2ED;    
    width: 100%;
}

.testimonals--wrapper-right{
    flex: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-location{
    color: gray;
    font-size: 10px;
    margin: 0;
}
.user-location{
    margin: 0px;
    color: gray;
    font-size: 14px;
    margin-bottom: 12px;
}
.user-strory{
    margin: 0px;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 12px;
    
}


.faq-container {
    border: rgba(30, 33, 80, 1);
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 24px;
}



.accorden_head{
    display: flex;
}
.acord_icon i{
    color: white;
}
.acord_icon{
    background-color: #1E2150;
    display: inline;
    padding: 18px 18px;
    
}
.acord_question{
    background-color: transparent;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.faq_answer p{
    margin-left: 16px;
    
}

.faq-container .faq_answer{
    height: 0;
    overflow: hidden;
    transition: height .8s ease;
    
}

.faq-container.active .faq_answer{
    background-color: #f1f7fc;
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}


.faq-container.active i{
    transform: rotate(180deg);
}

i {
    transition: transform 0.5s ease;
}


html::-webkit-scrollbar-track{
    background: #D34F00;
    border-bottom: 2px;
}

html::-webkit-scrollbar-track{
    background: #1E2150;
}

.footer, .copyright{
    background-color: #626262;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: #c5c4c4 solid 1px;
}

.footer .container{
    max-width: 40%;
}

.footer .container p{
    color: #c5c4c4;
}

.footer .container p a{
    color: #c5c4c4;
    text-decoration: underline;
}

.copyright, .copyright p{
    justify-content: center;
    font-size: small;
}
